{% extends "Meus_projeto/base.html" %}
{% load bootstrap3 %}


{% block header %}
    <h1><a href=" {% url 'topic' topic.id %}">{{topic}}</a></h1>
{% endblock header %}

{% block content %}
    <h3>Adicione um novo tópico: </h3>
    <p>Adicione uma nova entrada</p>
    <form action="{% url 'new_entry' topic.id %}" method="post" class="form">
        {% csrf_token%}
        {% bootstrap_form form %}
        {% buttons %}
            <button name=" submite" class="btn btn-primary">Adicionar</button>
        {% endbuttons %}
    </form>
{% endblock content %}